<h1>Angular Forms</h1>
<button pButton type="button" label="Exercise 1" class="p-button-outlined" routerLink="/form1"></button>
<button pButton type="button" label="Exercise 2" class="p-button-outlined"  routerLink="/form2"></button>
<button pButton type="button" label="Exercise 3" class="p-button-outlined"  routerLink="/userinfo/user"></button>
<button pButton type="button" label="Exercise 4" class="p-button-outlined"  routerLink="/pizza/order"></button>
<button pButton type="button" label="Donation Form" class="p-button-outlined"  routerLink="/donation"></button>
<button pButton type="button" label="Student" class="p-button-outlined"  routerLink="/student"></button>
<hr>




<router-outlet></router-outlet>